

  <div style="padding: 20px; padding-left: 200px;" class="col-md-9">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Department</th>
          <th>Email</th>
          <th>Country</th>
          <th class="myButtons">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees$ | async">
          <td>{{ employee.id }}</td>
          <td>{{ employee.firstname }}</td>
          <td>{{ employee.lastname }}</td>
          <td>{{ employee.department }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.country }}</td>
          <td class="myButtons">
            <button class="btn btn-info btn-sm" (click)="employeeSelected(employee)">Edit</button>&nbsp;&nbsp;
            <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <span *ngIf="errorMessage$">{{errorMessage$ | async}}</span>
